[Desktop Entry]
Encoding=UTF-8
Comment=Kile Project
Comment[el]=Έργο Kile
Icon=kile
MimeType=text/x-kilepr
Patterns=*.kilepr;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
