[Desktop Entry]
Encoding=UTF-8
Comment=Kile Project
Comment[be]=Праект Kile
Comment[bg]=Проект на Kile
Comment[br]=Raktres Kile
Comment[bs]=Kile projekat
Comment[ca]=Projecte Kile
Comment[cs]=Kile projekt
Comment[da]=Kile-projekt
Comment[de]=Kile-Projekt
Comment[el]=Έργο Kile
Comment[es]=Proyecto Kile
Comment[et]=Kile projekt
Comment[fr]=Projet Kile
Comment[ga]=Tionscadal Kile
Comment[gl]=Proxecto de Kile
Comment[hi]=काइल परियोजना
Comment[hu]=Kile-projekt
Comment[it]=Progetto di Kile
Comment[ja]=Kile プロジェクト
Comment[nl]=Kile-project
Comment[pa]=Kile ਪ੍ਰੋਜੈਕਟ
Comment[pt]=Projecto do Kile
Comment[pt_BR]=Projeto Kile
Comment[ru]=Kile
Comment[sk]=Kile projekt
Comment[sl]=Projekt Kile
Comment[sr]=Kile-ов пројекат
Comment[sr@Latn]=Kile-ov projekat
Comment[sv]=Kile-projekt
Comment[ta]=க்யில் திட்டப்பணி
Comment[tr]=Kile Projesi
Comment[uk]=Проект Kile
Comment[xx]=xxKile Projectxx
Comment[zh_CN]=Kile 项目
Icon=kile
MimeType=text/x-kilepr
Patterns=*.kilepr;
Type=MimeType

[Property::X-KDE-text]
Type=bool
Value=true
