Source: kile
Section: tex
Priority: optional
Maintainer: Ben Burton <bab@debian.org>
Build-Depends: debhelper (>> 4.0.0), kdelibs4-dev, libqt3-compat-headers
Standards-Version: 3.6.0

Package: kile
Architecture: any
Section: tex
Depends: ${shlibs:Depends}, konsole
Recommends: tetex-extra, kdvi, kghostview
Suggests: gnuplot, latex2html, xfig
Conflicts: ktexmaker2 (<< 1.8)
Replaces: ktexmaker2 (<< 1.8)
Description: The KDE Integrated LaTeX Environment
 Kile (the KDE Integrated LaTeX Environment) is a LaTeX source editor,
 TeX shell and Gnuplot front end for KDE.
 .
 The source editor is a multi-document editor designed for .tex and .bib
 files.  Menus and wizards are provided to assist with tag insertion and
 code generation.  A structure view of the document assists with navigation
 within source files.
 .
 The TeX shell assists with LaTeX and BibTeX compilation as well as
 DVI and postscript document viewing.  It supports documents divided
 into several files.
 .
 The Gnuplot front end is an adaptation of the Xgfe program (an X front
 end to Gnuplot) created by David Ishee.  A good knowledge of Gnuplot
 is required to use this tool.

Package: ktexmaker2
Architecture: all
Section: tex
Depends: kile (>= 1.2-0)
Description: Dummy upgrade package for Kile
 KTexmaker2, the LaTeX source editor, TeX shell and Gnuplot front end
 for KDE, has been renamed to Kile.
 .
 This is merely a dummy package for assisting upgrades and may be safely
 removed.
