<!DOCTYPE kpartgui>
<kpartplugin name="kile" library="libkileplugin" version="1">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="file_new_as" group="new_merge"/>
  <Action name="CreateTemplate" group="save_merge"/>
 </Menu>
 <Menu name="tools"><Text>&amp;Tools</Text>
  <Action name="update_structure"/>
 </Menu>
 <Menu name="settings"><Text>&amp;Settings</Text>
  <Action name="removetemplate"/>
 </Menu>
</MenuBar>

<ToolBar name="extraToolBar">
  <Action name="update_structure"/>
</ToolBar>
</kpartplugin>
