<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="docpart" version="1">
	<ToolBar name="extraToolBar"><text>Extra</text>
		<Action name="Back"/>
		<Action name="Forward"/>
		<Action name="Home"/>
		<Separator lineSeparator="true"/>
		<Action name="find" /> 
		<Separator lineSeparator="true"/>
		<Action name="incFontSizes" />
		<Action name="decFontSizes" />
	</ToolBar>
</kpartgui>

