[Desktop Entry]
Type=Application
Exec=kile %U
Icon=kile
X-DocPath=kile/index.html
Comment=(La)TeX development environment
Comment[cs]=Vývojové prostředí pro (La)TeX
Comment[de]=(La)TeX-Entwicklungsumgebung
Comment[fr]=Environnement de développement (La)TeX
Comment[nl]=(La)TeX-ontwikkelomgeving
Comment[pt]=Ambiente de desenvolvimento em (La)TeX
Comment[pt_BR]=Ambiente de desenvolvimento (La)TeX
Comment[sk]=(La)TeX vývojové prostredie
Comment[sv]=(La)tex-utvecklingsmiljö
Comment[uk]=Середовище для розробки у (La)TeX
Comment[x-test]=xx(La)TeX development environmentxx
Terminal=false
Name=Kile
Name[cs]=Kile
Name[de]=Kile
Name[fr]=Kile
Name[nl]=Kile
Name[pt]=Kile
Name[pt_BR]=Kile
Name[sk]=Kile
Name[sv]=Kile
Name[uk]=Kile
Name[x-test]=xxKilexx
GenericName=LaTeX Frontend
GenericName[cs]=Prostředí pro LaTeX
GenericName[de]=Grafische Oberfläche zu LaTeX
GenericName[fr]=Interface graphique LaTeX
GenericName[nl]=LaTeX-frontend
GenericName[pt]=Interface para o LaTeX
GenericName[pt_BR]=Interface do LaTeX
GenericName[sk]=LaTeX rozhranie
GenericName[sv]=Latex-gränssnitt
GenericName[uk]=Клієнтська програма LaTeX
GenericName[x-test]=xxLaTeX Frontendxx
MimeType=text/x-tex;text/x-kilepr;
Categories=Qt;KDE;Office;Publishing;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=net.sourceforge.kile
