[Desktop Entry]
Type=Application
Exec=kile %U
Icon=kile
X-DocPath=kile/index.html
Comment=(La)TeX development environment
Terminal=false
Name=Kile
GenericName=LaTeX Frontend
MimeType=text/x-tex;text/x-kilepr;
Categories=Qt;KDE;Office;Publishing;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=net.sourceforge.kile
