[Desktop Entry]
Type=Application
Exec=kile %U
Icon=kile
X-DocPath=kile/index.html
Comment=(La)TeX development environment
Comment[ca]=Entorn de desenvolupament de (La)Tex
Comment[cs]=Vývojové prostředí pro (La)TeX
Comment[de]=(La)TeX-Entwicklungsumgebung
Comment[en_GB]=(La)TeX development environment
Comment[fr]=Environnement de développement (La)TeX
Comment[hu]=(La)TeX fejlesztőkörnyezet
Comment[nb]=Et utviklingsmiljø for (La)TeX
Comment[nl]=(La)TeX-ontwikkelomgeving
Comment[nn]=Eit skriveprogram for (La)TeX-dokument.
Comment[pl]=Środowisko do tworzenia dokumentów (La)TeX-a
Comment[pt]=Ambiente de desenvolvimento em (La)TeX
Comment[pt_BR]=Ambiente de desenvolvimento (La)TeX
Comment[sk]=(La)TeX vývojové prostredie
Comment[sv]=(La)tex-utvecklingsmiljö
Comment[uk]=Середовище для розробки у (La)TeX
Comment[x-test]=xx(La)TeX development environmentxx
Terminal=false
Name=Kile
Name[ca]=Kile
Name[cs]=Kile
Name[de]=Kile
Name[en_GB]=Kile
Name[fr]=Kile
Name[hu]=Kile
Name[nb]=Kile
Name[nl]=Kile
Name[nn]=Kile
Name[pl]=Kile
Name[pt]=Kile
Name[pt_BR]=Kile
Name[sk]=Kile
Name[sv]=Kile
Name[uk]=Kile
Name[x-test]=xxKilexx
GenericName=LaTeX Frontend
GenericName[ca]=Frontal del LaTex
GenericName[cs]=Prostředí pro LaTeX
GenericName[de]=Grafische Oberfläche zu LaTeX
GenericName[en_GB]=LaTeX Frontend
GenericName[fr]=Interface graphique LaTeX
GenericName[hu]=LaTeX előtétprogram
GenericName[nb]=LaTex-grensesnitt
GenericName[nl]=LaTeX-frontend
GenericName[nn]=LaTeX-grensesnitt
GenericName[pl]=Nakładka graficzna na LaTeX-a
GenericName[pt]=Interface para o LaTeX
GenericName[pt_BR]=Interface do LaTeX
GenericName[sk]=LaTeX rozhranie
GenericName[sv]=Latex-gränssnitt
GenericName[uk]=Клієнтська програма LaTeX
GenericName[x-test]=xxLaTeX Frontendxx
MimeType=text/x-tex;text/x-kilepr;
Categories=Qt;KDE;Office;Publishing;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=net.sourceforge.kile
