# KDE Config File
[Desktop Entry]
Type=Application
Exec=kile
Icon=kile
DocPath=kile/index.html
Comment=(La)TeX development environment
Comment[el]=Περιβάλλον ανάπτυξης (La)TeX
Terminal=false
Name=Kile
GenericName=LaTeX Frontend
GenericName[el]=Σύστημα υποστήριξης χρήστη LaTeX
MimeType=text/x-tex;text/x-kilepr
Categories=Qt;KDE;Office;
Encoding=UTF-8
