<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kile" version="1.5.2b">
<MenuBar noMerge="1">
  <Menu name="file"><text>File</text>
    <Action name="New"/>
    <Action name="Open"/>
    <Separator/>
    <Action name="Recent"/>
    <Separator/>
    <Action name="Save"/>
    <Action name="SaveAs"/>
    <Action name="SaveAampll"/>
    <Separator/>
    <Action name="CreateTemplate"/>
    <Separator/>
    <Action name="PrintSource"/>
    <Separator/>
    <Action name="Close"/>
    <Action name="CloseAll"/>
    <Merge/>
    <Separator/>
    <Action name="Exit"/>
  </Menu>
  <Menu name="edit"><text>Edit</text>
    <Action name="Undo"/>
    <Action name="Redo"/>
    <Separator/>
    <Action name="Copy"/>
    <Action name="Cut"/>
    <Action name="Paste"/>
    <Separator/>
    <Action name="selectAll"/>
    <Separator/>
    <Action name="Spell"/>
    <Separator/>
    <Action name="Comment"/>
    <Action name="Uncomment"/>
    <Action name="Indent"/>
    <Separator/>
    <Action name="find"/>
    <Action name="findnext"/>
    <Action name="Replace"/>
    <Action name="GotoLine"/>
    <Separator/>
    <Action name="RefreshStructure"/>
  </Menu>
    <Menu name="menu3"><text>Tools</text>
    <Action name="QuickBuild"/>
    <Action name="WatchFile"/>
    <Separator/>
    <Action name="Latex"/>
    <Action name="ViewDvi"/>
    <Action name="DvitoPS"/>
    <Action name="ViewPS"/>
    <Separator/>
    <Action name="KdviForwardSearch"/>
    <Separator/>
    <Action name="PDFLatex"/>
    <Action name="ViewPDF"/>
    <Action name="PStoPDF"/>
    <Action name="DVItoPDF"/>
    <Separator/>
    <Action name="ViewLog"/>
    <Action name="PreviousError"/>
    <Action name="NextError"/>
    <Action name="Stop"/>
    <Separator/>
    <Action name="MakeBib"/>
    <Action name="MakeIndex"/>
    <Separator/>
    <Action name="LaTeXtoHtml"/>
    <Action name="HtmlPreview"/>
    <Separator/>
    <Action name="MetaPost"/>
    <Separator/>
    <Action name="CleanAll"/>
  </Menu>
  <Menu name="menu4"><text>LaTeX</text>
    <Action name="1"/>
    <Action name="2"/>
    <Action name="3"/>
    <Action name="4"/>
    <Action name="5"/>
    <Action name="6"/>
    <Action name="158"/>
    <Action name="159"/>
      <Menu name="menu41"><text>Sectionning</text>
	<Action name="7"/>
	<Action name="8"/>
	<Action name="9"/>
	<Action name="10"/>
	<Action name="11"/>
	<Action name="12"/>
	<Action name="13"/>
      </Menu>
      <Menu name="menu42"><text>Environment</text>
	<Action name="14"/>
	<Action name="15"/>
	<Action name="16"/>
	<Action name="17"/>
	<Action name="18"/>
	<Action name="19"/>
	<Action name="20"/>
	<Action name="21"/>
	<Action name="22"/>
	<Action name="23"/>
      </Menu>
       <Menu name="menu43"><text>List Environment</text>
	<Action name="24"/>
	<Action name="25"/>
	<Action name="26"/>
	<Action name="27"/>
	<Action name="28"/>
      </Menu>
      <Menu name="menu44"><text>Font Styles</text>
	<Action name="29"/>
	<Action name="30"/>
	<Action name="31"/>
	<Action name="32"/>
	<Action name="33"/>
      </Menu>
      <Menu name="menu45"><text>Tabular Environment</text>
	<Action name="34"/>
	<Action name="35"/>
	<Action name="36"/>
	<Action name="37"/>
	<Action name="38"/>
	<Action name="39"/>
      </Menu>
      <Menu name="menu46"><text>Spacing</text>
	<Action name="40"/>
	<Action name="41"/>
	<Action name="42"/>
	<Action name="43"/>
	<Action name="44"/>
      </Menu>
    <Separator/>
    <Action name="45"/>
    <Action name="46"/>
    <Action name="47"/>
    <Separator/>
    <Action name="50"/>
    <Action name="51"/>
  </Menu>
  <Menu name="menu5"><text>Math</text>
    <Action name="52"/>
    <Action name="53"/>
    <Action name="54"/>
    <Action name="55"/>
    <Separator/>
    <Action name="56"/>
    <Action name="57"/>
    <Action name="58"/>
    <Action name="59"/>
    <Action name="60"/>
    <Action name="61"/>
    <Action name="62"/>
    <Action name="63"/>
    <Separator/>
       <Menu name="menu51"><text>Math Font Styles</text>
	<Action name="64"/>
	<Action name="65"/>
	<Action name="66"/>
	<Action name="67"/>
	<Action name="68"/>
	<Action name="69"/>
	<Action name="70"/>
	<Action name="71"/>
      </Menu>
      <Menu name="menu52"><text>Math Accents</text>
	<Action name="72"/>
	<Action name="73"/>
	<Action name="74"/>
	<Action name="75"/>
	<Action name="76"/>
	<Action name="77"/>
	<Action name="78"/>
	<Action name="79"/>
	<Action name="80"/>
	<Action name="81"/>
      </Menu>
       <Menu name="menu53"><text>Math Spaces</text>
	<Action name="82"/>
	<Action name="83"/>
	<Action name="84"/>
	<Action name="85"/>
	<Action name="86"/>
      </Menu>
  </Menu>
  <Menu name="menu7"><text>Wizard</text>
    <Action name="127"/>
    <Action name="128"/>
    <Separator/>
    <Action name="129"/>
    <Action name="130"/>
    <Action name="149"/>
  </Menu>
  <Menu name="menu8"><text>Bibliography</text>
    <Action name="131"/>
    <Action name="132"/>
    <Action name="133"/>
    <Action name="134"/>
    <Action name="135"/>
    <Action name="136"/>
    <Action name="137"/>
    <Action name="138"/>
    <Action name="139"/>
    <Action name="140"/>
    <Action name="141"/>
    <Action name="142"/>
    <Action name="143"/>
    <Separator/>
    <Action name="CleanBib"/>
  </Menu>
  <Menu name="menu9"><text>User</text>
    <Action name="menuUserTags"/>
    <Action name="menuUserTools"/>
  </Menu>
  <Menu name="menu10"><text>Graph</text>
    <Action name="144"/>
    <Action name="145"/>
  </Menu>
  <Menu name="view"><text>View</text>
   <Action name="EditorView"/>
   <Merge/>
   <Separator/>
   <Action name="gotoPrevDocument"/>
   <Action name="gotoNextDocument"/>
   <Separator/>
   <Action name="StructureView"/>
   <Action name="MessageView"/>
   <Menu name="ShowToolbars"><text>Show Toolbars</text>
      <Action name="ShowMainToolbar"/>
      <Action name="ShowToolsToolbar"/>
      <Action name="ShowEditToolbar"/>
      <Action name="ShowMathToolbar"/>
   </Menu>
  </Menu>
  <Menu name="settings"><text>Settings</text>
    <Action name="MenuAccels"/>
    <Action name="Mode"/>
    <Action name="removetemplates"/>
    <Separator/>
    <Action name="147"/>
    <Action name="148"/>
    <Action name="146"/>
  </Menu>
  <Menu name="help"><text>Help</text>
    <Action name="help1"/>
    <Action name="help2"/>
    <Merge/>
    <Separator/>
    <Action name="help4"/>
    <Action name="help5"/>
  </Menu>
</MenuBar>
  <ToolBar name="ToolBar1" fullWidth="false" index="1">
  <text>Main</text>
    <Action name="New"/>
    <Action name="Open"/>
    <Action name="Save"/>
    <Action name="Close"/>
   <Separator lineSeparator="true"/>
    <Action name="Undo"/>
    <Action name="Redo"/>
    <Action name="Copy"/>
    <Action name="Cut"/>
    <Action name="Paste"/>
   <Separator lineSeparator="true"/>
    <Action name="Mode"/>
  </ToolBar>
  <ToolBar name="ToolBar2" fullWidth="false" index="2">
  <text>Tools</text>
    <Action name="QuickBuild"/>
    <Action name="WatchFile"/>
   <Separator lineSeparator="true"/>
    <Action name="ViewLog"/>
    <Action name="PreviousError"/>
    <Action name="NextError"/>
    <Action name="Stop"/>
   <Separator lineSeparator="true"/>
    <Action name="Latex"/>
    <Action name="ViewDvi"/>
    <Action name="DvitoPS"/>
    <Action name="ViewPS"/>
   <Separator lineSeparator="true"/>
    <Action name="PDFLatex"/>
    <Action name="ViewPDF"/>
   <Separator lineSeparator="true"/>
    <Action name="DVItoPDF"/>
    <Action name="PStoPDF"/>
   <Separator lineSeparator="true"/>
    <Action name="LaTeXtoHtml"/>
    <Action name="HtmlPreview"/>
   <Separator lineSeparator="true"/>
    <Action name="KdviForwardSearch"/>
  <ToolBar name="ToolBar4" fullWidth="false" index="3">
  <text>Edit</text>
    <Action name="structure_list"/>
   <Separator lineSeparator="true"/>
    <Action name="other_list"/>
   <Separator lineSeparator="true"/>
    <Action name="size_list"/>
   <Separator lineSeparator="true"/>
    <Action name="31"/>
    <Action name="29"/>
    <Action name="150"/>
    <Action name="15"/>
    <Action name="14"/>
    <Action name="16"/>
  </ToolBar>
  <ToolBar name="ToolBar5" fullWidth="false">
  <text>Math</text>
    <Action name="52"/>
    <Action name="56"/>
    <Action name="57"/>
    <Action name="58"/>
    <Action name="59"/>
    <Action name="60"/>
   <Separator lineSeparator="true"/>
    <Action name="left_list"/>
   <Separator lineSeparator="true"/>
    <Action name="right_list"/>
    <Separator lineSeparator="true"/>
    <Action name="151"/>
  </ToolBar>
   <ToolBar name="Extra">
   <Action name="print"/>
   <Separator lineSeparator="true"/>
    <Action name="Back"/>
    <Action name="Forward"/>
    <Action name="Home"/>
    <Separator lineSeparator="true"/>
    <Action name="EditorView"/>
   </ToolBar>
  <State name="State1">
  <Disable>
  <Action name="New"/>
  <Action name="Open"/>
  <Action name="Recent"/>
  <Action name="Save"/>
  <Action name="SaveAs"/>
  <Action name="SaveAll"/>
  <Action name="Close"/>
  <Action name="CloseAll"/>
  <Action name="Undo"/>
  <Action name="Redo"/>
  <Action name="Copy"/>
  <Action name="Cut"/>
  <Action name="Paste"/>
  <Action name="selectAll"/>
  <Action name="Spell"/>
  <Action name="Comment"/>
  <Action name="Uncomment"/>
  <Action name="Indent"/>
  <Action name="find"/>
  <Action name="findnext"/>
  <Action name="Replace"/>
  <Action name="GotoLine"/>
  <Action name="RefreshStructure"/>
  <Action name="QuickBuild"/>
  <Action name="WatchFile"/>
  <Action name="Latex"/>
  <Action name="ViewDvi"/>
  <Action name="DvitoPS"/>
  <Action name="ViewPS"/>
  <Action name="KdviForwardSearch"/>
  <Action name="PDFLatex"/>
  <Action name="ViewPDF"/>
  <Action name="PStoPDF"/>
  <Action name="DVItoPDF"/>
  <Action name="ViewLog"/>
  <Action name="PreviousError"/>
  <Action name="NextError"/>
  <Action name="MakeBib"/>
  <Action name="MakeIndex"/>
  <Action name="LaTeXtoHtml"/>
  <Action name="HtmlPreview"/>
  <Action name="CleanAll"/>
  <Action name="MetaPost"/>
  <Action name="1"/>
  <Action name="2"/>
  <Action name="3"/>
  <Action name="4"/>
  <Action name="5"/>
  <Action name="6"/>
  <Action name="158"/>
  <Action name="159"/>
  <Action name="7"/>
  <Action name="8"/>
  <Action name="9"/>
  <Action name="10"/>
  <Action name="11"/>
  <Action name="12"/>
  <Action name="13"/>
  <Action name="14"/>
  <Action name="15"/>
  <Action name="16"/>
  <Action name="17"/>
  <Action name="18"/>
  <Action name="19"/>
  <Action name="20"/>
  <Action name="21"/>
  <Action name="22"/>
  <Action name="23"/>
  <Action name="24"/>
  <Action name="25"/>
  <Action name="26"/>
  <Action name="27"/>
  <Action name="28"/>
  <Action name="29"/>
  <Action name="30"/>
  <Action name="31"/>
  <Action name="32"/>
  <Action name="33"/>
  <Action name="34"/>
  <Action name="35"/>
  <Action name="36"/>
  <Action name="37"/>
  <Action name="38"/>
  <Action name="39"/>
  <Action name="40"/>
  <Action name="41"/>
  <Action name="42"/>
  <Action name="43"/>
  <Action name="44"/>
  <Action name="45"/>
  <Action name="46"/>
  <Action name="47"/>
  <Action name="50"/>
  <Action name="51"/>
  <Action name="52"/>
  <Action name="53"/>
  <Action name="54"/>
  <Action name="55"/>
  <Action name="56"/>
  <Action name="57"/>
  <Action name="58"/>
  <Action name="59"/>
  <Action name="60"/>
  <Action name="61"/>
  <Action name="62"/>
  <Action name="63"/>
  <Action name="64"/>
  <Action name="65"/>
  <Action name="66"/>
  <Action name="67"/>
  <Action name="68"/>
  <Action name="69"/>
  <Action name="70"/>
  <Action name="71"/>
  <Action name="72"/>
  <Action name="73"/>
  <Action name="74"/>
  <Action name="75"/>
  <Action name="76"/>
  <Action name="77"/>
  <Action name="78"/>
  <Action name="79"/>
  <Action name="80"/>
  <Action name="81"/>
  <Action name="82"/>
  <Action name="83"/>
  <Action name="84"/>
  <Action name="85"/>
  <Action name="86"/>
  <Action name="127"/>
  <Action name="128"/>
  <Action name="149"/>
  <Action name="129"/>
  <Action name="130"/>
  <Action name="131"/>
  <Action name="132"/>
  <Action name="133"/>
  <Action name="134"/>
  <Action name="135"/>
  <Action name="136"/>
  <Action name="137"/>
  <Action name="138"/>
  <Action name="139"/>
  <Action name="140"/>
  <Action name="141"/>
  <Action name="142"/>
  <Action name="143"/>
  <Action name="CleanBib"/>
  <Action name="user1"/>
  <Action name="user2"/>
  <Action name="user3"/>
  <Action name="user4"/>
  <Action name="user5"/>
  <Action name="user6"/>
  <Action name="user7"/>
  <Action name="user8"/>
  <Action name="user9"/>
  <Action name="user10"/>
  <Action name="usertool1"/>
  <Action name="usertool2"/>
  <Action name="usertool3"/>
  <Action name="usertool4"/>
  <Action name="usertool5"/>
  <Action name="144"/>
  <Action name="145"/>
  <Action name="146"/>
  <Action name="147"/>
  <Action name="148"/>
  <Action name="Mode"/>
  <Action name="structure_list"/>
  <Action name="size_list"/>
  <Action name="other_list"/>
  <Action name="150"/>
  <Action name="left_list"/>
  <Action name="right_list"/>
  <Action name="151"/>
  <Action name="152"/>
  <Action name="153"/>
  <Action name="154"/>
  <Action name="155"/>
  <Action name="156"/>
  <Action name="157"/>
  <Action name="StructureView"/>
  <Action name="MessageView"/>
  <Action name="EditUserMenu"/>
  <Action name="PrintSource"/>
  <Action name="print"/>
  <Action name="gotoNextDocument"/>
  <Action name="gotoPrevDocument"/>
  </Disable>
  <Enable>
  <Action name="EditorView"/>
  <Action name="Back"/>
  <Action name="Forward"/>
  <Action name="Home"/>
  </Enable>
  </State>
  <State name="State2">
  <Disable>
  <Action name="New"/>
  <Action name="Open"/>
  <Action name="Recent"/>
  <Action name="Save"/>
  <Action name="SaveAs"/>
  <Action name="SaveAll"/>
  <Action name="Close"/>
  <Action name="CloseAll"/>
  <Action name="Undo"/>
  <Action name="Redo"/>
  <Action name="Copy"/>
  <Action name="Cut"/>
  <Action name="Paste"/>
  <Action name="selectAll"/>
  <Action name="Spell"/>
  <Action name="Comment"/>
  <Action name="Uncomment"/>
  <Action name="Indent"/>
  <Action name="find"/>
  <Action name="findnext"/>
  <Action name="Replace"/>
  <Action name="GotoLine"/>
  <Action name="RefreshStructure"/>
  <Action name="QuickBuild"/>
  <Action name="WatchFile"/>
  <Action name="Latex"/>
  <Action name="ViewDvi"/>
  <Action name="DvitoPS"/>
  <Action name="ViewPS"/>
  <Action name="KdviForwardSearch"/>
  <Action name="PDFLatex"/>
  <Action name="ViewPDF"/>
  <Action name="PStoPDF"/>
  <Action name="DVItoPDF"/>
  <Action name="ViewLog"/>
  <Action name="PreviousError"/>
  <Action name="NextError"/>
  <Action name="MakeBib"/>
  <Action name="MakeIndex"/>
  <Action name="LaTeXtoHtml"/>
  <Action name="HtmlPreview"/>
  <Action name="CleanAll"/>
  <Action name="MetaPost"/>
  <Action name="1"/>
  <Action name="2"/>
  <Action name="3"/>
  <Action name="4"/>
  <Action name="5"/>
  <Action name="6"/>
  <Action name="158"/>
  <Action name="159"/>
  <Action name="7"/>
  <Action name="8"/>
  <Action name="9"/>
  <Action name="10"/>
  <Action name="11"/>
  <Action name="12"/>
  <Action name="13"/>
  <Action name="14"/>
  <Action name="15"/>
  <Action name="16"/>
  <Action name="17"/>
  <Action name="18"/>
  <Action name="19"/>
  <Action name="20"/>
  <Action name="21"/>
  <Action name="22"/>
  <Action name="23"/>
  <Action name="24"/>
  <Action name="25"/>
  <Action name="26"/>
  <Action name="27"/>
  <Action name="28"/>
  <Action name="29"/>
  <Action name="30"/>
  <Action name="31"/>
  <Action name="32"/>
  <Action name="33"/>
  <Action name="34"/>
  <Action name="35"/>
  <Action name="36"/>
  <Action name="37"/>
  <Action name="38"/>
  <Action name="39"/>
  <Action name="40"/>
  <Action name="41"/>
  <Action name="42"/>
  <Action name="43"/>
  <Action name="44"/>
  <Action name="45"/>
  <Action name="46"/>
  <Action name="47"/>
  <Action name="50"/>
  <Action name="51"/>
  <Action name="52"/>
  <Action name="53"/>
  <Action name="54"/>
  <Action name="55"/>
  <Action name="56"/>
  <Action name="57"/>
  <Action name="58"/>
  <Action name="59"/>
  <Action name="60"/>
  <Action name="61"/>
  <Action name="62"/>
  <Action name="63"/>
  <Action name="64"/>
  <Action name="65"/>
  <Action name="66"/>
  <Action name="67"/>
  <Action name="68"/>
  <Action name="69"/>
  <Action name="70"/>
  <Action name="71"/>
  <Action name="72"/>
  <Action name="73"/>
  <Action name="74"/>
  <Action name="75"/>
  <Action name="76"/>
  <Action name="77"/>
  <Action name="78"/>
  <Action name="79"/>
  <Action name="80"/>
  <Action name="81"/>
  <Action name="82"/>
  <Action name="83"/>
  <Action name="84"/>
  <Action name="85"/>
  <Action name="86"/>
  <Action name="127"/>
  <Action name="128"/>
  <Action name="149"/>
  <Action name="129"/>
  <Action name="130"/>
  <Action name="131"/>
  <Action name="132"/>
  <Action name="133"/>
  <Action name="134"/>
  <Action name="135"/>
  <Action name="136"/>
  <Action name="137"/>
  <Action name="138"/>
  <Action name="139"/>
  <Action name="140"/>
  <Action name="141"/>
  <Action name="142"/>
  <Action name="143"/>
  <Action name="CleanBib"/>
  <Action name="user1"/>
  <Action name="user2"/>
  <Action name="user3"/>
  <Action name="user4"/>
  <Action name="user5"/>
  <Action name="user6"/>
  <Action name="user7"/>
  <Action name="user8"/>
  <Action name="user9"/>
  <Action name="user10"/>
  <Action name="usertool1"/>
  <Action name="usertool2"/>
  <Action name="usertool3"/>
  <Action name="usertool4"/>
  <Action name="usertool5"/>
  <Action name="144"/>
  <Action name="145"/>
  <Action name="146"/>
  <Action name="147"/>
  <Action name="148"/>
  <Action name="Mode"/>
  <Action name="structure_list"/>
  <Action name="size_list"/>
  <Action name="other_list"/>
  <Action name="150"/>
  <Action name="left_list"/>
  <Action name="right_list"/>
  <Action name="151"/>
  <Action name="152"/>
  <Action name="153"/>
  <Action name="154"/>
  <Action name="155"/>
  <Action name="156"/>
  <Action name="157"/>
  <Action name="StructureView"/>
  <Action name="MessageView"/>
  <Action name="EditUserMenu"/>
  <Action name="PrintSource"/>
  <Action name="Back"/>
  <Action name="Forward"/>
  <Action name="Home"/>
  <Action name="gotoNextDocument"/>
  <Action name="gotoPrevDocument"/>
  </Disable>
  <Enable>
  <Action name="EditorView"/>
  <Action name="print"/>
  </Enable>
  </State>
    <State name="State3">
  <Disable>
  <Action name="New"/>
  <Action name="Open"/>
  <Action name="Recent"/>
  <Action name="Save"/>
  <Action name="SaveAs"/>
  <Action name="SaveAll"/>
  <Action name="Close"/>
  <Action name="CloseAll"/>
  <Action name="Undo"/>
  <Action name="Redo"/>
  <Action name="Copy"/>
  <Action name="Cut"/>
  <Action name="Paste"/>
  <Action name="selectAll"/>
  <Action name="Spell"/>
  <Action name="Comment"/>
  <Action name="Uncomment"/>
  <Action name="Indent"/>
  <Action name="find"/>
  <Action name="findnext"/>
  <Action name="Replace"/>
  <Action name="GotoLine"/>
  <Action name="RefreshStructure"/>
  <Action name="QuickBuild"/>
  <Action name="WatchFile"/>
  <Action name="Latex"/>
  <Action name="ViewDvi"/>
  <Action name="DvitoPS"/>
  <Action name="ViewPS"/>
  <Action name="KdviForwardSearch"/>
  <Action name="PDFLatex"/>
  <Action name="ViewPDF"/>
  <Action name="PStoPDF"/>
  <Action name="DVItoPDF"/>
  <Action name="ViewLog"/>
  <Action name="PreviousError"/>
  <Action name="NextError"/>
  <Action name="MakeBib"/>
  <Action name="MakeIndex"/>
  <Action name="LaTeXtoHtml"/>
  <Action name="HtmlPreview"/>
  <Action name="CleanAll"/>
  <Action name="MetaPost"/>
  <Action name="1"/>
  <Action name="2"/>
  <Action name="3"/>
  <Action name="4"/>
  <Action name="5"/>
  <Action name="6"/>
  <Action name="158"/>
  <Action name="159"/>
  <Action name="7"/>
  <Action name="8"/>
  <Action name="9"/>
  <Action name="10"/>
  <Action name="11"/>
  <Action name="12"/>
  <Action name="13"/>
  <Action name="14"/>
  <Action name="15"/>
  <Action name="16"/>
  <Action name="17"/>
  <Action name="18"/>
  <Action name="19"/>
  <Action name="20"/>
  <Action name="21"/>
  <Action name="22"/>
  <Action name="23"/>
  <Action name="24"/>
  <Action name="25"/>
  <Action name="26"/>
  <Action name="27"/>
  <Action name="28"/>
  <Action name="29"/>
  <Action name="30"/>
  <Action name="31"/>
  <Action name="32"/>
  <Action name="33"/>
  <Action name="34"/>
  <Action name="35"/>
  <Action name="36"/>
  <Action name="37"/>
  <Action name="38"/>
  <Action name="39"/>
  <Action name="40"/>
  <Action name="41"/>
  <Action name="42"/>
  <Action name="43"/>
  <Action name="44"/>
  <Action name="45"/>
  <Action name="46"/>
  <Action name="47"/>
  <Action name="50"/>
  <Action name="51"/>
  <Action name="52"/>
  <Action name="53"/>
  <Action name="54"/>
  <Action name="55"/>
  <Action name="56"/>
  <Action name="57"/>
  <Action name="58"/>
  <Action name="59"/>
  <Action name="60"/>
  <Action name="61"/>
  <Action name="62"/>
  <Action name="63"/>
  <Action name="64"/>
  <Action name="65"/>
  <Action name="66"/>
  <Action name="67"/>
  <Action name="68"/>
  <Action name="69"/>
  <Action name="70"/>
  <Action name="71"/>
  <Action name="72"/>
  <Action name="73"/>
  <Action name="74"/>
  <Action name="75"/>
  <Action name="76"/>
  <Action name="77"/>
  <Action name="78"/>
  <Action name="79"/>
  <Action name="80"/>
  <Action name="81"/>
  <Action name="82"/>
  <Action name="83"/>
  <Action name="84"/>
  <Action name="85"/>
  <Action name="86"/>
  <Action name="127"/>
  <Action name="128"/>
  <Action name="149"/>
  <Action name="129"/>
  <Action name="130"/>
  <Action name="131"/>
  <Action name="132"/>
  <Action name="133"/>
  <Action name="134"/>
  <Action name="135"/>
  <Action name="136"/>
  <Action name="137"/>
  <Action name="138"/>
  <Action name="139"/>
  <Action name="140"/>
  <Action name="141"/>
  <Action name="142"/>
  <Action name="143"/>
  <Action name="CleanBib"/>
  <Action name="user1"/>
  <Action name="user2"/>
  <Action name="user3"/>
  <Action name="user4"/>
  <Action name="user5"/>
  <Action name="user6"/>
  <Action name="user7"/>
  <Action name="user8"/>
  <Action name="user9"/>
  <Action name="user10"/>
  <Action name="usertool1"/>
  <Action name="usertool2"/>
  <Action name="usertool3"/>
  <Action name="usertool4"/>
  <Action name="usertool5"/>
  <Action name="144"/>
  <Action name="145"/>
  <Action name="146"/>
  <Action name="147"/>
  <Action name="148"/>
  <Action name="Mode"/>
  <Action name="structure_list"/>
  <Action name="size_list"/>
  <Action name="other_list"/>
  <Action name="150"/>
  <Action name="left_list"/>
  <Action name="right_list"/>
  <Action name="151"/>
  <Action name="152"/>
  <Action name="153"/>
  <Action name="154"/>
  <Action name="155"/>
  <Action name="156"/>
  <Action name="157"/>
  <Action name="StructureView"/>
  <Action name="MessageView"/>
  <Action name="EditUserMenu"/>
  <Action name="PrintSource"/>
  <Action name="Back"/>
  <Action name="Forward"/>
  <Action name="Home"/>
  <Action name="print"/>
  <Action name="gotoNextDocument"/>
  <Action name="gotoPrevDocument"/>
  </Disable>
  <Enable>
  <Action name="EditorView"/>
  </Enable>
  </State>
  <State name="State4">
  <Disable>
  <Action name="Back"/>
  <Action name="Forward"/>
  <Action name="Home"/>
  <Action name="print"/>
  </Disable>
  <Enable>
  <Action name="EditorView"/>
  <Action name="PrintSource"/>
  <Action name="New"/>
  <Action name="Open"/>
  <Action name="Recent"/>
  <Action name="Save"/>
  <Action name="SaveAs"/>
  <Action name="SaveAll"/>
  <Action name="Close"/>
  <Action name="CloseAll"/>
  <Action name="Undo"/>
  <Action name="Redo"/>
  <Action name="Copy"/>
  <Action name="Cut"/>
  <Action name="Paste"/>
  <Action name="selectAll"/>
  <Action name="Spell"/>
  <Action name="Comment"/>
  <Action name="Uncomment"/>
  <Action name="Indent"/>
  <Action name="find"/>
  <Action name="findnext"/>
  <Action name="Replace"/>
  <Action name="GotoLine"/>
  <Action name="RefreshStructure"/>
  <Action name="QuickBuild"/>
  <Action name="WatchFile"/>
  <Action name="Latex"/>
  <Action name="ViewDvi"/>
  <Action name="DvitoPS"/>
  <Action name="ViewPS"/>
  <Action name="KdviForwardSearch"/>
  <Action name="PDFLatex"/>
  <Action name="ViewPDF"/>
  <Action name="PStoPDF"/>
  <Action name="DVItoPDF"/>
  <Action name="ViewLog"/>
  <Action name="PreviousError"/>
  <Action name="NextError"/>
  <Action name="MakeBib"/>
  <Action name="MakeIndex"/>
  <Action name="LaTeXtoHtml"/>
  <Action name="HtmlPreview"/>
  <Action name="CleanAll"/>
  <Action name="MetaPost"/>
  <Action name="1"/>
  <Action name="2"/>
  <Action name="3"/>
  <Action name="4"/>
  <Action name="5"/>
  <Action name="6"/>
  <Action name="158"/>
  <Action name="159"/>
  <Action name="7"/>
  <Action name="8"/>
  <Action name="9"/>
  <Action name="10"/>
  <Action name="11"/>
  <Action name="12"/>
  <Action name="13"/>
  <Action name="14"/>
  <Action name="15"/>
  <Action name="16"/>
  <Action name="17"/>
  <Action name="18"/>
  <Action name="19"/>
  <Action name="20"/>
  <Action name="21"/>
  <Action name="22"/>
  <Action name="23"/>
  <Action name="24"/>
  <Action name="25"/>
  <Action name="26"/>
  <Action name="27"/>
  <Action name="28"/>
  <Action name="29"/>
  <Action name="30"/>
  <Action name="31"/>
  <Action name="32"/>
  <Action name="33"/>
  <Action name="34"/>
  <Action name="35"/>
  <Action name="36"/>
  <Action name="37"/>
  <Action name="38"/>
  <Action name="39"/>
  <Action name="40"/>
  <Action name="41"/>
  <Action name="42"/>
  <Action name="43"/>
  <Action name="44"/>
  <Action name="45"/>
  <Action name="46"/>
  <Action name="47"/>
  <Action name="50"/>
  <Action name="51"/>
  <Action name="52"/>
  <Action name="53"/>
  <Action name="54"/>
  <Action name="55"/>
  <Action name="56"/>
  <Action name="57"/>
  <Action name="58"/>
  <Action name="59"/>
  <Action name="60"/>
  <Action name="61"/>
  <Action name="62"/>
  <Action name="63"/>
  <Action name="64"/>
  <Action name="65"/>
  <Action name="66"/>
  <Action name="67"/>
  <Action name="68"/>
  <Action name="69"/>
  <Action name="70"/>
  <Action name="71"/>
  <Action name="72"/>
  <Action name="73"/>
  <Action name="74"/>
  <Action name="75"/>
  <Action name="76"/>
  <Action name="77"/>
  <Action name="78"/>
  <Action name="79"/>
  <Action name="80"/>
  <Action name="81"/>
  <Action name="82"/>
  <Action name="83"/>
  <Action name="84"/>
  <Action name="85"/>
  <Action name="86"/>
  <Action name="127"/>
  <Action name="128"/>
  <Action name="149"/>
  <Action name="129"/>
  <Action name="130"/>
  <Action name="131"/>
  <Action name="132"/>
  <Action name="133"/>
  <Action name="134"/>
  <Action name="135"/>
  <Action name="136"/>
  <Action name="137"/>
  <Action name="138"/>
  <Action name="139"/>
  <Action name="140"/>
  <Action name="141"/>
  <Action name="142"/>
  <Action name="143"/>
  <Action name="CleanBib"/>
  <Action name="user1"/>
  <Action name="user2"/>
  <Action name="user3"/>
  <Action name="user4"/>
  <Action name="user5"/>
  <Action name="user6"/>
  <Action name="user7"/>
  <Action name="user8"/>
  <Action name="user9"/>
  <Action name="user10"/>
  <Action name="usertool1"/>
  <Action name="usertool2"/>
  <Action name="usertool3"/>
  <Action name="usertool4"/>
  <Action name="usertool5"/>
  <Action name="144"/>
  <Action name="145"/>
  <Action name="146"/>
  <Action name="147"/>
  <Action name="148"/>
  <Action name="Mode"/>
  <Action name="structure_list"/>
  <Action name="size_list"/>
  <Action name="other_list"/>
  <Action name="150"/>
  <Action name="left_list"/>
  <Action name="right_list"/>
  <Action name="151"/>
  <Action name="152"/>
  <Action name="153"/>
  <Action name="154"/>
  <Action name="155"/>
  <Action name="156"/>
  <Action name="157"/>
  <Action name="StructureView"/>
  <Action name="MessageView"/>
  <Action name="EditUserMenu"/>
  <Action name="gotoNextDocument"/>
  <Action name="gotoPrevDocument"/>
  </Enable>
  </State>
</kpartgui>

