# KDE Config File
[KDE Desktop Entry]
Type=Application
Exec=kile
Icon=kile
DocPath=kile/index.html
Comment=(La)TeX development environment
Comment[pt]=Ambiente de desenvolvimento de (La)TeX
Comment[pt_BR]=Ambiente de Desenvolvimento (La)TeX
Comment[sv]=(La)tex-utvecklingsmiljö
Terminal=0
Name=Kile
MimeType=text/x-tex
