[Tool/Archive]
class=Compile
command=tar
options=zcvf '%S.tar.gz' %F
from=kilepr
to=tar.gz
type=Process
icon=
shortcut=
toolbarPos=none
toolbarSep=false
menu=none

[Tool/BibTeX]
class=Compile
command=bibtex
options='%S'
from=aux
to=bbl
type=Process
icon=bibtex
shortcut=Alt+-
toolbarPos=none
toolbarSep=false
menu=Compile

[Tool/DVItoPDF]
class=Convert
command=dvipdfm
options='%S.dvi'
from=dvi
to=pdf
type=Process
icon=dvipdf
shortcut=Alt+9
toolbarPos=7
toolbarSep=false
menu=Convert

[Tool/DVItoPS]
class=Convert
command=dvips
options=-o '%S.ps' '%S.dvi'
from=dvi
to=ps
type=Process
icon=dvips
shortcut=ALt+4
toolbarPos=3
toolbarSep=false
menu=Convert

[Tool/LaTeX]
class=Compile
command=latex
options=-interaction=nonstopmode '%source'
from=
to=dvi
type=Process
icon=latex
shortcut=Alt+2
toolbarPos=1
toolbarSep=false
menu=Compile

[Tool/LaTeX2HTML]
class=Compile
command=latex2html
options= '%source' %options
from=
to=
type=Process
icon=l2h
shortcut=
toolbarPos=9
toolbarSep=false
menu=Compile

[Tool/MakeIndex]
class=Compile
command=makeindex
options='%S.idx'
from=idx
to=idx
type=Process
icon=latex
shortcut=Alt+=
toolbarPos=none
toolbarSep=false
menu=Compile

[Tool/MetaPost]
class=Compile
command=mpost
options=-interaction=nonstopmode '%source'
from=
to=
type=Process
icon=latex
shortcut=
toolbarPos=none
toolbarSep=false
menu=Compile

[Tool/PDFLaTeX]
class=Compile
command=pdflatex
options=-interaction=nonstopmode '%source'
from=
to=pdf
type=Process
icon=latex
shortcut=Alt+6
toolbarPos=5
toolbarSep=false
menu=Compile

[Tool/PStoPDF]
class=Convert
command=ps2pdf
options='%S.ps' '%S.pdf'
from=ps
to=pdf
type=Process
icon=ps2pdf
shortcut=Alt+8
toolbarPos=8
toolbarSep=true
menu=Convert

[Tool/QuickBuild]
class=Sequence
sequence=LaTeX,ViewDVI
icon=quick
shortcut=Alt+1
toolbarPos=0
toolbarSep=true
menu=Quick

[Tool/TeX]
class=Compile
command=tex
options=-interaction=nonstopmode '%source'
from=
to=dvi
type=Process
icon=latex
shortcut=
toolbarPos=none
toolbarSep=false
menu=Compile

[Tool/ViewBib]
type=Process
class=View
command=pybliographic
options='%source'
from=bib
to=bib
icon=bibtex
shortcut=
toolbarPos=none
toolbarSep=false
menu=View

[Tool/ViewHTML]
type=DocPart
class=View
state=HTMLpreview
icon=viewhtml
shortcut=
toolbarPos=10
toolbarSep=true
menu=View

[Tool/ViewDVI]
class=View
type=Part
className=KViewPart
libName=kviewerpart
from=dvi
to=dvi
state=Viewer
libOptions=dvi
icon=viewdvi
shortcut=Alt+3
toolbarPos=2
toolbarSep=false
menu=View

[Tool/ForwardDVI]
type=Part
class=View
className=KViewPart
libName=kviewerpart
from=dvi
to=dvi
state=Viewer
libOptions=dvi
icon=dvisearch
shortcut=
toolbarPos=11
toolbarSep=false
menu=View

[Tool/ViewPDF]
class=View
className=KGVPart
libName=libkghostviewpart
state=Viewer
from=pdf
to=pdf
type=Part
icon=viewpdf
shortcut=Alt+7
toolbarPos=6
toolbarSep=true
menu=View

[Tool/ViewPS]
class=View
className=KGVPart
libName=libkghostviewpart
state=Viewer
from=ps
to=ps
type=Part
icon=viewps
shortcut=Alt+5
toolbarPos=4
toolbarSep=true
menu=View

[Tools]
Quick Mode=1
