# KDE Config File
[KDE Desktop Entry]
Type=Application
Exec=kile
Icon=kile
DocPath=kile/index.html
Comment=(La)TeX development environment
Comment[ca]=En torn de desenvolupament (La)TeX
Comment[cs]=Vývojové prostředí pro (La)TeX
Comment[da]=(La)TeX udviklingsmiljø
Comment[de]=(La)TeX-Entwicklungsumgebung
Comment[el]=Περιβάλλον ανάπτυξης (La)TeX
Comment[es]=Entorno de desarrollo de (La)TeX
Comment[et]=(La)TeX arenduskeskkond
Comment[fi]=(La)TeX-kehitysympäristö
Comment[fr]=Environnement de développement pour (La)TeX
Comment[hi]=(La)TeX डेवलपमेंट वातावरण
Comment[hu]=(La)TeX fejlesztőkörnyezet
Comment[it]=Ambiente di sviluppo (La)TeX
Comment[nl]=(La)TeX-ontwikkelingsomgeving
Comment[pt]=Ambiente de desenvolvimento de (La)TeX
Comment[pt_BR]=Ambiente de Desenvolvimento (La)TeX
Comment[sr]=Развојно окружење за (La)TeX
Comment[sv]=(La)tex-utvecklingsmiljö
Comment[ta]=(லா)டெக்ஸ் மேம்பாட்டு சூழல்
Comment[tr]=(La)TeX geliştirme ortamı
Comment[xx]=xx(La)TeX development environmentxx
Comment[zh_CN]=(La)TeX 开发环境
Terminal=false
Name=Kile
Name[hi]=काइल
Name[ta]=கயில்
Name[xx]=xxKilexx
GenericName=LaTeX Frontend
GenericName[cs]=Prostředí pro LaTeX
GenericName[da]=Forende for LaTeX
GenericName[es]=Interfaz para LaTeX
GenericName[et]=LaTeXi kasutajaliides
GenericName[fr]=Interface graphique LaTeX
GenericName[hu]=LaTeX-felület
GenericName[it]=Interfaccia LaTeX
GenericName[nl]=LaTeX-tekstverwerking
GenericName[pt]=Interface para o LaTeX
GenericName[pt_BR]=Interface do LaTeX
GenericName[sr]=LaTeX интерфејс
GenericName[sv]=Latex-gränssnitt
GenericName[ta]=(லா)டெக்ஸ்  
GenericName[tr]=LaTeX Arayüzü
GenericName[xx]=xxLaTeX Frontendxx
GenericName[zh_CN]=LaTeX 前端
MimeType=text/x-tex;text/x-kilepr
Categories=Qt;KDE;Office;
Encoding=UTF-8
