[Tool/Archive/Default]
class=Compile
command=tar
options=zcvf '%S.tar.gz' %F
from=kilepr
to=tar.gz
type=Process

[Tool/BibTeX/Default]
class=Compile
command=bibtex
options='%S'
from=aux
to=bbl
type=Process

[Tool/DVItoPDF/Default]
class=Convert
command=dvipdfm
options='%S.dvi'
from=dvi
to=pdf
type=Process

[Tool/DVItoPS/Default]
class=Convert
command=dvips
options=-o '%S.ps' '%S.dvi'
from=dvi
to=ps
type=Process

[Tool/LaTeX/Default]
class=LaTeX
command=latex
options=-interaction=nonstopmode '%source'
from=
to=dvi
type=Process
checkForRoot=yes

[Tool/LaTeX2HTML/Default]
class=Compile
command=latex2html
options='%source'
from=
to=
type=Process

[Tool/TeX4ht/HTML]
class=Compile
command=htlatex.sh
options='%source'
from=
to=html
type=Process

[Tool/TeX4ht/DocBook]
class=Compile
command=dblatex.sh
options='%source'
from=
to=xml
type=Process

[Tool/MakeIndex/Default]
class=Compile
command=makeindex
options='%S.idx'
from=idx
to=idx
type=Process

[Tool/MetaPost/Default]
class=Compile
command=mpost
options=-interaction=nonstopmode '%source'
from=
to=
type=Process

[Tool/PDFLaTeX/Default]
class=LaTeX
command=pdflatex
options=-interaction=nonstopmode '%source'
from=
to=pdf
type=Process
checkForRoot=yes

[Tool/PStoPDF/Default]
class=Convert
command=ps2pdf
options='%S.ps' '%S.pdf'
from=ps
to=pdf
type=Process

[Tool/QuickBuild/LaTeX+ViewDVI]
class=Sequence
type=Sequence
sequence=LaTeX,ViewDVI

[Tool/QuickBuild/LaTeX+DVItoPS+ViewPS]
class=Sequence
type=Sequence
sequence=LaTeX,DVItoPS,ViewPS

[Tool/QuickBuild/LaTeX+DVItoPDF+ViewPDF]
class=Sequence
type=Sequence
sequence=LaTeX,DVItoPDF,ViewPDF

[Tool/QuickBuild/PDFLaTeX+ViewPDF]
class=Sequence
type=Sequence
sequence=PDFLaTeX,ViewPDF

[Tool/QuickBuild/LaTeX+ForwardDVI]
class=Sequence
type=Sequence
sequence=LaTeX,ForwardDVI

[Tool/TeX/Default]
class=Compile
command=tex
options=-interaction=nonstopmode '%source'
from=
to=dvi
type=Process

[Tool/ViewBib/Default]
type=Process
class=ViewBib
command=pybliographic
options='%source'
from=bib
to=bib

[Tool/ViewHTML/Default]
type=DocPart
class=ViewHTML
state=HTMLpreview
relDir=%S
target=index.html

[Tool/ViewHTML/TeX4ht]
type=DocPart
class=ViewHTML
state=HTMLpreview
relDir=
from=
to=html
target=

[Tool/ViewDVI/Embedded Viewer]
class=View
type=Part
className=KViewPart
libName=kviewerpart
from=dvi
to=dvi
state=Viewer
libOptions=dvi

[Tool/ViewDVI/KDVI]
class=View
type=Process
command=kdvi
options='%target'
from=dvi
to=dvi

[Tool/ForwardDVI/Default]
type=Part
class=ForwardDVI
className=KViewPart
libName=kviewerpart
from=dvi
to=dvi
state=Viewer
libOptions=dvi

[Tool/ViewPDF/Embedded Viewer]
class=View
className=KGVPart
libName=libkghostviewpart
state=Viewer
from=pdf
to=pdf
type=Part

[Tool/ViewPDF/KGhostView]
command=kghostview
options='%target'
state=Viewer
from=pdf
to=pdf
type=Process

[Tool/ViewPDF/KPDF (embedded)]
class=View
className=KPDF::Part
libName=libkpdfpart
state=Viewer
from=pdf
to=pdf
type=Part

[Tool/ViewPDF/Acroread]
class=View
command=acroread
options='%target'
state=Viewer
from=pdf
to=pdf
type=Process

[Tool/ViewPS/Default]
class=View
className=KGVPart
libName=libkghostviewpart
state=Viewer
from=ps
to=ps
type=Part

[Tools]
Archive=Default
BibTeX=Default
DVItoPDF=Default
DVItoPS=Default
LaTeX=Default
LaTeX2HTML=Default
TeX4ht=HTML
MakeIndex=Default
MetaPost=Default
PDFLaTeX=Default
PStoPDF=Default
QuickBuild=LaTeX+ViewDVI
TeX=Default
ViewBib=Default
ViewHTML=Default
ViewDVI=Embedded Viewer
ForwardDVI=Default
ViewPDF=Embedded Viewer
ViewPS=Default

[ToolsGUI]
Archive=none,none,false,
BibTeX=Compile,none,false,bibtex
DVItoPDF=Convert,7,false,dvipdf
DVItoPS=Convert,3,false,dvips
LaTeX=Compile,1,false,latex
LaTeX2HTML=Compile,9,false,l2h
TeX4ht=Compile,none,false,l2h
MakeIndex=Compile,none,false,makeidx
MetaPost=Compile,none,false,mpost
PDFLaTeX=Compile,5,false,pdflatex
PStoPDF=Convert,8,true,ps2pdf
QuickBuild=Quick,0,true,quick
TeX=Compile,none,false,latex,
ViewBib=View,none,false,bibtex
ViewHTML=View,10,true,viewhtml
ViewDVI=View,2,false,viewdvi
ForwardDVI=View,11,false,dvisearch
ViewPDF=View,6,true,viewpdf
ViewPS=View,4,true,viewps

[ToolShortcuts]
tool_QuickBuild=Alt+1
tool_LaTeX=Alt+2
tool_ViewDVI=Alt+3
tool_DVItoPS=Alt+4
tool_ViewPS=Alt+5
tool_PDFLaTeX=Alt+6
tool_ViewPDF=Alt+7
tool_PStoPDF=Alt+8
tool_DVItoPDF=Alt+9
tool_BibTeX=Alt+-
tool_MakeIndex=Alt+=